*, *::before, *::after {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation Styles */

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4e4e4e;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 0 20px;
    list-style: none;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
}

.fa-bars {
    color: #FFF;
}

label[for="menu-toggle"],
input[id="menu-toggle"] {
    display: none;
}

@media (max-width:786px) {
    nav ul {
        position: absolute;
        top: 100px;
        left: -100%;
        flex-direction: column;
        text-align: center;
        width: 100%;
        background-color: #4e4e4e;
        transition: all 0.3s ease-in-out;
    }

    nav ul li a {
        display: block;
        padding: 25px 0;
        border-top: 1px solid #2e2e2e;
    }

    label[for="menu-toggle"] {
        display: block;
    }

    input[id="menu-toggle"]:checked + .list-items {
        left: 0;
    }
}